.main {
	background: url("../image/fond_vierge.png") no-repeat;
	background-size: cover;
	width: 100%;
	height: 95vh;
	display: flex;
	overflow: hidden;
	/* align-items: center; */
	/* position: relative; */
}
.fleurLeft {
	background: url("../image/bord_gauche.png") no-repeat;
	background-position: right top;
	background-size: cover;
	height: 100%;
}
.fleurRight {
	background: url("../image/bord_droit.png") no-repeat;
	background-size: cover;

	height: 100%;
	width: 100%;
	/* flex: 1; */
	/* float: right; */
	/* align-self: end; */
}
.titre {
	flex: 3;
	background: url("../image/titre.png") no-repeat;
	background-size: contain;
	background-position: center;
}
.fleurLeftcontainer {
	flex: 1;
	/* height: 95vh;
    width: 40%;
    al
	position: absolute;
	left: 0px;
	bottom: 0px;
	z-index: 1; */
}
.fleurRightcontainer {
	flex: 1;
	display: flex;
	/* justify-content: end; */
	/* background-color: aqua; */
	/* height: 95vh;
    /* width: 100%; */
	/* position: absolute; */
	/* right: 0px;
	bottom: 0px;
	z-index: 1; */
}
.tout {
	position: relative;
	width: 100vw;
	overflow: hidden;
}
.ciseau1 {
	/* width: 50%; */
    height: 80%;
	position: absolute;

	top: 0px;
}
.ciseau2 {
height:  80%;
	position: absolute;
	top: 0px;
	/* width: 5%; */
}
.ciseaux {
	/* background-color: aqua; */
	width: 8%;
    padding: 1%;
	height:8%;
	position: absolute;
	top: 110%;
	left: 60%;
	transform: rotate(-45deg);
	z-index: 3;
}
.cardImage{
	width: 100%;
	border-radius: 10%;
}
.cardContainer{
	width: 10%;
}

